@charset "utf-8";

body{
    background: #aaaaaa;
    color: white;
    text-shadow: 1px 1px 1px #000;
    padding:20px 0px 0px 50px;
}

.some-class{
    color: orange;
    letter-spacing: 2px;
    transform:rotate(360deg);
    font-style: italic;

}
.another-class{
    color: pink;
    letter-spacing: 1px;
    transform: skew(110deg);
    font-style: italic;
}