@charset  "utf-8"; 

body{
    margin:0;
    padding:0; 
 background-color: blueviolet;
}
main {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}
main a {
    min-height:150px;
    background-color:plum;
    
}
/*.Hej{

}*/