@charset  "utf-8";

main {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-right: 15%;
    margin-left: 15%;
}
main a {
    min-height:100px;
    background-color: blueviolet;
}